<section class="module clearfix wrap-carousel skycom-carousel hero-3-1" data-function="carousel" data-tracking-module="hero">
    <h2 class="speak">Featured News, shows or Products from around Sky</h2>
    <div class="skycom-carousel-container clearfix">
        
        <div data-ng-repeat="slide in data" class="slide clearfix skycom-12 alpha bg-shading dark-scheme">
            <figure >
                <div class="shade" data-tracking></div>
                <div class="poster">
                    <img data-ng-src="{{slide.url}}" alt="Heroes">
                </div>
            </figure>
        </div>

    </div>
</section>