<footer>
  <nav>
    <div class="skycom-container">
      <ul class="h has-spacing">
        <li class="menu">
          <a href="mailto:Brandteam@bskyb.com">Feedback</a>
        </li>
        <li class="menu">
          <a href="/legal">Legal</a>
        </li>
      </ul>
      <aside id="sky-footer-copyright">
        <i class="skycon-sky" aria-hidden="true"></i><span class="hidden-mobile"> and the Sky trademarks are owned by British Sky Broadcasting Group plc and Sky International AG and are used under licence.</span>
        <span class="copyright" data-ng-bind="'© '+ year +' BSkyB'"></span>
      </aside>
    </div>

  </nav>

  <div data-lightbox></div>
  <div data-notifications></div>
</footer>