<div id="wrap-page-approval" class="clearfix">

  <div id="wrap-page-title" class="skycom-container">

        <h1 class="section-title">Admin</h1>

        <div id="base-styles-tab-contents" class="tabpanel selected">
            <section class="tabcontents tabs-container page-nav">
                <ul class="nav tabs clearfix">
                    <li class="tab">
                      <a href="/admin/activity" class="skycom-ellipsis internal-link">Activity</a>
                    </li>
                    <li class="tab">
                      <a href="/admin/access" class="skycom-ellipsis internal-link">Access</a>
                    </li>
                    <li class="tab selected">
                      <a href="/admin/assets/awaiting" class="skycom-ellipsis internal-link">Approve</a>
                    </li>
                    <li class="tab">
                      <a data-ng-href="/content/page/?news={{notifications.total}}" target="_self" class="skycom-ellipsis internal-link" data-tracking="false">Edit</a>
                    </li>
                    <li class="tab">
                      <a href="/brandhub/view" class="skycom-ellipsis internal-link">Brand hub</a>
                    </li>
                </ul>
            </section>
        </div>

        <h3 class="pod-title first has-badge ng-hide" data-ng-show="assetsLeft">Assets awaiting approval <span class="badge big count blue bounceIn animated ng-binding" data-ng-bind="assetsLeft">0</span></h3>

  </div>

  <div class="skycom-container ng-hide" data-ng-show="data.length">

    <div>

      <div class="skycom-6 left-side panel panel-default" data-ng-show="data.length > 0" data-context-menu data-target="contextMenu" data-ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
          <a href="javascript:void(0);" data-ng-repeat="asset in data" data-ng-click="select(asset)" class="clearfix fade" data-ng-class="{'selected': selectedAsset == asset, 'done': asset.done}" title="{{asset.data.title}}">
            <div class="skycom-4 title"><p class="cushioned" data-ng-bind="asset.data.title"></p></div>
            
            <div class="skycom-4 center">
              <p class="cushioned" data-ng-bind="asset.data.asset_main_category.data.title" data-ng-show="!asset.done"></p>
              <p class="cushioned green" data-ng-class="{'rejected': asset.rejected}" data-ng-show="asset.done"><span data-ng-show="!asset.rejected">Approved</span><span data-ng-show="asset.rejected">Rejected</span></p>
            </div>
            <div class="skycom-4 right">
              <p class="cushioned">
                <span data-ng-show="!asset.done" data-ng-bind="date(asset.data.date_created)"></span>
                <span data-ng-show="asset.done" class="icon"><i class="colour" data-ng-class="{'brandcon-tick': !asset.rejected, 'skycon-close': asset.rejected}" aria-hidden="true"></i></span>
              </p>
            </div>      

            <div class="arrow" data-ng-hide="asset.rejected" data-ng-class="{'done': asset.done}"></div>
            <span data-ng-show="asset.done" class="progress ng-hide" data-ng-class="{'rejected': asset.rejected}" data-ng-style="{width: '100%'}"></span>
            <div class="arrow" data-ng-hide="asset.rejected" data-ng-class="{'done': asset.done && !asset.rejected}"></div>
          </a>
          <div class="wrap-context-menu" id="contextMenu">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
              <li role="presentation">
                <a class="pointer" href="javascript:void(0);" data-ng-href="/admin/assets/awaiting" role="menuitem" tabindex="-1">Show all</a>
              </li>
              <li role="presentation">
                <a class="pointer title" role="menuitem" tabindex="-1" href="javascript:void(0);"><strong>Only display:</strong></a>
              </li>
              <li role="presentation" data-ng-repeat="option in modelService.filters.available.main_categories">
                <a class="pointer" href="javascript:void(0);" data-ng-href="/admin/assets/awaiting?category={{option.id}}" role="menuitem" tabindex="-1" data-ng-bind="option.title"></a>
              </li>
            </ul>
          </div>
      </div>

      <div class="skycom-6 right-side" data-ng-show="!selectedAsset.rejected">
        <div>

          <div class="ng-hide failed" data-ng-show="!selectedAsset.data.files.length">
            <div class="brandcon-error red" data-ng-class="{'bounceInTrowy animated': selectedFile && selectedFile.failed}"></div>
            <p>There was an error during upload. This was possibly caused by a loss of connection. Please reject and ask the user to re-upload the asset.</p>
          </div>

          <form class="sky-form" name="assetForm" data-ng-show="data.length > 0" novalidate>
            <fieldset data-ng-disabled="selectedAsset.done" data-ng-class="{disabled: selectedAsset.done}">

              <div class="clearfix header">
                <div class="skycom-6" ><p class="intro smaller">Asset ID: <strong data-ng-bind="selectedAsset.id"></strong></p></div>
                <div class="skycom-6"><p class="intro smaller ellipsis">Posted by: <strong data-ng-bind="selectedAsset.data.owner.data.first_name + ' ' + selectedAsset.data.owner.data.last_name" title="{{selectedAsset.data.owner.data.first_name + ' ' + selectedAsset.data.owner.data.last_name}}"></strong></p></div>
              </div>

              <div class="clearfix title">
                <div><p class="intro">Title</p></div>
                <div class=" wrap-title-validation">
                    <input type="text" name="title" data-ng-model="selectedAsset.data.title" title="{{selectedAsset.data.title}}" validate-asset-title validate-asset-title-exclude="{{selectedAsset.id}}" validate-progress="checkingTitle"/><i class="status" data-ng-class="{'checking': checkingTitle}"></i>
                    <p class="error ng-hide" data-ng-show="assetForm.title.$invalid"><span>The title already exists or is invalid!</span></p>
                </div>
              </div>

              <div class="clearfix">
                <div><p class="intro">Asset thumbnail</p></div>
                <div  data-rn-lazy-background="{{selectedAsset.data.thumb}}" data-ng-class="{'noscale':!selectedAsset.data.thumb_scaled, 'dark':filters.available.asset_dark_background}" data-rn-lazy-loading-class="is-loading"></div>
              </div>

              <div class="clearfix spacing">    
                <div>
                  <ul class="h one-column">
                    <li>
                      <input id="option-dark-background" type="checkbox" class="css-checkbox ng-class:{'checked': filters.available.asset_dark_background}" data-ng-checked="filters.available.asset_dark_background" data-ng-model="filters.available.asset_dark_background">
                      <label for="option-dark-background" class="css-label"><span>Add a gray background to the thumbnail</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix">
                <div><p class="intro">Uploaded file</p></div>
                
                <p><a target="_self" href="javascript:void(0);" data-ng-href="{{modelService.cms.config.urls.assetsHttpHost + '/api/download/single/' + selectedAsset.id}}" data-tracking="false"><i class="icon brandcon-download colour" aria-hidden="true"></i>Download the uploaded file</a></p>

                <p data-ng-show="!selectedAsset.data.files.length">Missing file attachment!</p>
              </div>

              <div class="clearfix description">
                <div><p class="intro">Description</p></div>
                <div>
                  <textarea data-ng-model="selectedAsset.data.summary"></textarea>
                </div>
              </div>
              
              <div class="clearfix asset-to-replace" data-ng-if="filters.available.is_replacement && selectedAsset.data.asset_to_replace.id">
                <div><p class="intro">Asset to be replaced:</p></div>
                <div>
                  <div class="asset-container">
                    <a href="javascript:void(0);" data-ng-href="/assets/view/{{selectedAsset.data.asset_to_replace.id}}">
                      <img data-ng-src="{{selectedAsset.data.asset_to_replace.data.thumb.large}}"/>
                    </a>
                  </div>
                  <p>Title: <span data-ng-bind="selectedAsset.data.asset_to_replace.data.title"></span><a class="archive" href="javascript:void(0);" data-ng-click="archive(selectedAsset.data.asset_to_replace.id)" class="delete"><i class="icon brandcon-delete"></i> Archive</a></p>
                </div>
              </div>

              <div class="clearfix" validate-collection-single-value data-ng-model="filters.available.main_categories">
                <div><p class="intro">Main section:</p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.main_categories" data-ng-init="filters.available.main_categories[0].selected = true; filters.asset_main_category = filters.available.main_categories[0];">
                      <input id="option-{{option.id}}" type="checkbox" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-model="option.selected" data-ng-checked="option.selected" data-ng-change="filters.asset_main_category = option; clearSiblings(filters.available.main_categories, option);">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'master_brand'" validate-collection-required data-ng-model="filters.available.master_brands_categories">
                <div><p class="intro">Choose category: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.master_brands_categories">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'channels'" validate-collection-required data-ng-model="filters.available.channels_categories">
                <div><p class="intro"> Choose category: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.channels_categories">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'channels'" validate-collection-required data-ng-model="filters.available.channels_brands">
                <div> <p class="intro">Choose brand: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.channels_brands">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'products'" data-ng-model="filters.available.products_products">
                <div> <p class="intro">Choose product: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.products_products">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'products'" validate-collection-required data-ng-model="filters.available.products_categories">
                <div> <p class="intro">Choose category: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.products_categories">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'campaigns'" data-ng-model="filters.available.campaigns_product_areas">
                <div><p class="intro">Choose product area: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.campaigns_product_areas">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'campaigns'" validate-collection-required data-ng-model="filters.available.campaigns_medias">
                <div> <p class="intro">Choose media: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.campaigns_medias">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'campaigns'" validate-collection-single-value data-ng-model="filters.available.years">
                <div> <p class="intro">Choose year: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.years">
                      <input id="option-{{option.value}}" type="checkbox" data-ng-model="option.selected" data-ng-change="clearSiblings(filters.available.years, option)" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.value}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'campaigns'" validate-collection-single-value data-ng-model="filters.available.quarters">
                <div> <p class="intro">Choose quarter: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.quarters">
                      <input id="option-{{option.value}}" type="checkbox" data-ng-model="option.selected" data-ng-change="clearSiblings(filters.available.quarters, option)" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.value}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'initiatives'" data-ng-model="filters.available.initiatives_categories">
                <div> <p class="intro">Choose category: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.initiatives_categories">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'initiatives'" validate-collection-required data-ng-model="filters.available.initiatives_initiatives">
                <div> <p class="intro">Choose category: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.initiatives_initiatives">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'content'" validate-collection-required data-ng-model="filters.available.content_contents">
                <div> <p class="intro">Choose content: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.content_contents">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected" data-ng-change="clearSiblings(filters.available.content_contents, option)">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'content'" validate-collection-required data-ng-model="filters.available.content_documents">
                <div> <p class="intro">Choose content: </p></div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.content_documents" data-ng-hide="option.value === 'asset-request-form' && !filters.available.content_contents[0].selected">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected" data-ng-change="clearSiblings(filters.available.content_documents, option)">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix" data-ng-if="filters.asset_main_category.value === 'campaigns'" validate-collection-required data-ng-model="filters.available.countries">
                <div> <p class="intro">Choose country:</p> </div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.countries">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected" data-ng-change="clearSiblings(filters.available.countries, option)">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>     

              <div class="clearfix" validate-collection-single-value data-ng-model="filters.available.filetypes">
                <div> <p class="intro">Choose file type:</p> </div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.filetypes">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected" data-ng-change="clearSiblings(filters.available.filetypes, option)">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>    

              <div class="clearfix" data-ng-model="filters.available.guidelines">
                <div> <p class="intro">Choose a set of guidelines:</p> </div>
                <div>
                  <ul class="h two-columns">
                    <li data-ng-repeat="option in filters.available.guidelines">
                      <input id="option-{{option.id}}" type="checkbox" data-ng-model="option.selected" class="css-checkbox ng-class:{'checked': option.selected}" data-ng-checked="option.selected" data-ng-change="clearSiblings(filters.available.guidelines, option)">
                      <label for="option-{{option.id}}" class="css-label"><span data-ng-bind="option.title"></span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix">
                <div> <p class="intro">Author's comment</p></div>
                <div><span data-ng-show="selectedAsset.data.comment.length" data-ng-bind="selectedAsset.data.comment"></span><span data-ng-show="!selectedAsset.data.comment.length">No comment</span></div>
              </div>

              <div class="clearfix description">
                <div><p class="intro">Approvers comments</p></div>
                <div>
                  <textarea data-ng-class="{'shake animated': notify}" data-ng-model="selectedAsset.data.asset_comment_approval" data-ng-change="notifyMessage = false"></textarea>
                </div>
                <p class="error ng-hide" data-ng-show="notifyMessage"><span>Please specify a reason for the rejection!</span></p>
              </div>

              <div class="clearfix spacing">
                <div>
                  <ul class="h one-column">
                    <li>
                      <input id="option-is-private" type="checkbox" class="css-checkbox ng-class:{'checked': filters.available.is_private}" data-ng-model="filters.available.is_private" data-ng-checked="filters.available.is_private">
                      <label for="option-is-private" class="css-label"><span>Private (For internal use only)</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix buttons">
                <div>
                  <ul class="h two-columns">
                    <li>
                      <button class="form-submit btn primary-cta" data-ng-click="approve()"  data-ng-disabled="assetForm.$invalid || !selectedAsset.data.files.length">Approve</button>
                      <p>This file will be published to the main site!</p>
                    </li>
                    <li>
                      <button class="form-submit btn primary-cta" data-ng-click="reject(selectedAsset)">Reject</button>
                      <p>The file will be deleted and a message will be sent to the uploader.</p>
                    </li>
                  </ul>
                </div>
              </div>

            </fieldset>
          </form>
        </div>

      </div>
    </div>

  </div>

  <div class="skycom-container ng-hide" data-ng-show="data.length == 0">
    <div class="row">

      <div id="no-results-panel" class="ng-hide" data-ng-show="!$rootScope.lightbox.isLoading() && !stateParams.category.length">
        <p class="section-title">Good news</p>
        <p class="section-title smaller">
          There are no new assets waiting for your approval
        </p>
      </div>

      <div id="no-results-panel" class="ng-hide" data-ng-show="!$rootScope.lightbox.isLoading() && stateParams.category.length">
        <p class="section-title">No results match your search criteria</p>
        <p class="section-title smaller">
          Try 
            <a class="ng-hide" data-ng-show="stateParams.category.length" href="/admin/assets/awaiting">clearing</a>
          your filters
        </p>
      </div>

    </div>
  </div>

  <div data-goto-top data-track-element="#wrap-page-approval"></div>

</div>