<div id="wrap-page-team">

  <div id="wrap-page-title" class="skycom-container single">
    <div >
      <h1 class="section-title">
        <span data-ng-bind="pageTitle"></span>
        <a id="btn-feedback" data-tracking="false" href="javascript:void(0);" data-ng-click="utilitiesService.showFeedbackForm()"><i class="icon skycon-mail" aria-hidden="true"></i>Tell us what you think</a>
      </h1>
    </div>
  </div>
  
  <div class="skycom-container team clearfix">
    <div  data-ng-class="{'first': $first, 'even': $even, 'odd': $odd, 'last': $last}" data-ng-repeat="member in data.data.team_member">
      <h2 class="pod-title smaller" data-ng-bind="member.data.full_name"></h2>
      <p class="intro smaller" data-ng-bind="member.data.position"></p>
      <p class="intro smaller"><a data-ng-href="mailto:{{member.data.email}}" data-ng-bind="member.data.email"></a></p>
      <img data-ng-src="{{member.data.team_member_image.url}}" alt="{{member.data.team_member_image.description}}" />
    </div>    
  </div>

  <div class="skycom-container in-touch">
    <h2 class="page-title">Get in touch</h2>
    <p>
      We'll help you to deliver strong communications and projects that represent the best of Sky. Whether your project involves brand architecture, positioning, naming, judging concepts, 
      art direction or copywriting, come see us and we can help.
    </p>
    <p>
      It's best to involve us early on in your creative process.  That's also when there’s the least chance of our feedback affecting your deadlines.  So as soon as you're ready to share your work, book a Brand Hub.
    </p>
    <p>
      If you have any other questions please <a href="mailto:Brandteam@bskyb.com">drop us a line</a>.
    </p>
  </div>

  <div data-goto-top data-track-element=".team"></div>

</div>