<div id="wrap-guidelines" data-guidelines>
    <div id="wrap-page-title" class="skycom-container">
        <h1 class="section-title">
            Our Brand 
            <a id="btn-feedback" data-tracking="false" href="javascript:void(0);" data-ng-click="utilitiesService.showFeedbackForm()"><i class="icon skycon-mail" aria-hidden="true"></i>Tell us what you think</a>
        </h1>
        <div id="base-styles-tab-contents" class="tabpanel selected">
            <section class="tabcontents tabs-container page-nav">
                <ul class="nav tabs clearfix">
                    <li class="tab">
                        <a href="/our-brand" class="skycom-ellipsis internal-link">Our Story</a>
                    </li>
                    <li class="tab selected">
                        <a href="/our-brand/guidelines" class="skycom-ellipsis internal-link">Guidelines</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="skycom-container grid-1446">
        <a href="#" id="the-way-we-talk" class="nav-anchor"> </a>
        <section id="wrap-the-way-we-talk" class="clearfix head">
            <div data-fx="{'type' : 'video', 'id' : 'header-the-way-we-talk', 'url': '{{data.guidelines_head1_video}}',  'trigger' : 'always', 'loop' : 'false'}">
                <div class="brandcon-loader"></div>
                <img data-ng-src="{{data.guidelines_head1_image.url}}"  class="video"/>
            </div>
            <div class="skycom-container">
                <h2>
                    The way we talk
                </h2>
            </div>
        </section>
        <section id="the-way-we-talk-spine" class="clearfix">
            <div class="skycom-container">
                <div class="intro" data-ng-bind-html="data.guidelines_head1_copy | toTrusted">
                </div>
                <img class="word" data-ng-src="{{modelService.cms.config.urls.images + '/word-spine-tingling.png'}}">
                <div data-ng-bind-html="data.guidelines_head1_section1_copy | toTrusted">
                    
                </div>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <strong>Don't say</strong>
                    <h3 data-ng-bind="data.guidelines_head1_section1_q1_copy"></h3>
                    <p>
                        Adjectives become meaningless when they're overused...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3>
                        <strong data-ng-bind="data.guidelines_head1_section1_q2_copy">
                        </strong>
                    </h3>
                    <p>
                        ...but a nod to the show says we're fans too and won't confuse people who don't watch it.
                    </p>
                </div>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <strong>Don't say</strong>
                    <h3 class="purple" data-ng-bind="data.guidelines_head1_section1_q3_copy">
                    </h3>
                    <p>
                        A functional explanation of our product isn’t spine-tingling...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3 class="purple">
                        <strong data-ng-bind="data.guidelines_head1_section1_q4_copy"></strong>
                    </h3>
                    <p>
                        ...but precise descriptors add excitement and make our products shine.
                    </p>
                </div>
            </div>
        </section>
        <section id="the-way-we-talk-game" class="clearfix">
            <div class="skycom-container">
                <img class="word" data-ng-src="{{modelService.cms.config.urls.images + '/word-game-changing.png'}}">
                <p>
                    <strong>Fresh, energetic writing that's free from cliché</strong>
                </p>
                <p>
                    Craft copy that's lively and confident. Focus on key features, not every feature - that way, the benefits stand out and make us different. Use plenty of verbs so it feels active. Forget about superlatives and clichés. Vary rhythm and pace, and use short, sharp sentences for impact. Really.
                </p>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <p>
                        <strong>Don't say</strong>
                    </p>
                    <h3>
                        Our easy-to-use industry-leading On Demand service features state-of-the-art technology and is jam-packed with loads of amazing box sets you’re sure to love.
                    </h3>
                    <p>
                        Clichéd descriptors and listing out all the product features make information hard to digest...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3>
                        <strong>Missed the series everyone talked about? Mad Men, Boardwalk Empire, The Sopranos... We’ve put the box sets in your Sky+ box.</strong>
                    </h3>
                    <p>
                        ...but breaking up the information, using short sentences,
only focusing on one benefit makes everything feel easier.
                    </p>
                </div>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <strong>Don't say</strong>
                    <h3 class="purple">
                        Our aim is to get more people cycling with Sky Ride. Join us today!
                    </h3>
                    <p>
                        Exclamation marks won’t make dull copy exciting...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3 class="purple">
                        <strong>Let’s get Britain back on their bikes. 
Join us at the next Sky Ride.</strong>
                    </h3>
                    <p>
                        ...but verbs add energy and make the call to action more inviting.
                    </p>
                </div>
            </div>
        </section>
        <section id="the-way-we-talk-game2" class="clearfix gradient">
            <div class="skycom-container">
                <img class="word" data-ng-src="{{modelService.cms.config.urls.images + '/word-brilliantly-simple.png'}}">
                <p>
                    <strong>Concise, conversational and perfectly clear</strong>
                </p>
                <p>
                    Talk naturally and use everyday words and phrases; things you’d really say. Leave the technical jargon and formalities behind, keep things clear and to the point. No need to shout. Get contractions in - we’re, it’s, you’re - so it’s easy. Read what you’ve written out loud – if you need to take a breath, the reader will too.
                </p>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <strong>Don't say</strong>
                    <h3>
                        We’ve recently streamlined our billing process and implemented a simple new system so that our customers are fully aware of when their bills are due to arrive.
                    </h3>
                    <p>
                        Long sentences and stuffy words can make people lose interest...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3>
                        <strong>We’ve made things simpler so you’ll always know when to expect your bills.</strong>
                    </h3>
                    <p>
                        ...but a concise, conversational style flows naturally and gets straight to the point.
                    </p>
                </div>
            </div>
            <div class="skycom-container box clearfix">
                <div class="skycom-6">
                    <strong>Don't say</strong>
                    <h3 class="purple">
                        Get a Sky Movies subscription HALF PRICE for 6 months!
                    </h3>
                    <p>
                        Shouting won’t make an offer sound good...
                    </p>
                </div>
                <div class="skycom-6">
                    <strong>Do say</strong>
                    <h3 class="purple">
                        <strong>Get more of the year’s biggest box office hits for less. Sky Movies is half price for 6 months.</strong>
                    </h3>
                    <p>
                        ...but giving the customer the benefit in a more human way shows them the value.
                    </p>
                </div>
            </div>
        </section>
        <a href="#" id="the-way-we-look" class="nav-anchor"> </a>
        <section id="wrap-the-way-we-look" class="head">
            <img data-ng-src="{{data.guidelines_head2_image.url}}" />
            <div class="skycom-container">
                <h2>
                    The way we look
                </h2>
            </div>
        </section>
        <section id="the-way-we-look-spine" class="gradient">        
            <div class="skycom-container clearfix gap bottom" data-ng-bind-html="data.guidelines_head2_copy | toTrusted">
                
            </div>
            <div class="skycom-container clearfix">
                <div class="skycom-4">
                    <img class="title" data-ng-src="{{modelService.cms.config.urls.images + '/word-spine-tingling.png'}}"> 
                    <img class="no-gap" data-ng-src="{{data.guidelines_head2_section1_q1_image.url}}">
                    <div data-ng-bind-html="data.guidelines_head2_section1_q1_copy | toTrusted"></div>
                </div>
                <div class="skycom-4">
                    <img class="title" data-ng-src="{{modelService.cms.config.urls.images + '/word-game-changing.png'}}"> 
                    <img class="no-gap" data-ng-src="{{data.guidelines_head2_section1_q2_image.url}}">
                    <div data-ng-bind-html="data.guidelines_head2_section1_q2_copy | toTrusted"></div>
                </div>
                <div class="skycom-4">
                    <img class="title" data-ng-src="{{modelService.cms.config.urls.images + '/word-brilliantly-simple.png'}}"> 
                    <img class="no-gap" data-ng-src="{{data.guidelines_head2_section1_q3_image.url}}">
                    <div data-ng-bind-html="data.guidelines_head2_section1_q3_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <a href="#" id="sky-marks" class="nav-anchor"> </a>
        <section id="wrap-sky-marks" class="head">
            <div class="media">
                <div class="media-content" data-fx="{'type' : 'ken', 'id' : 'header-captain-america', 'pan' : 'cc', 'zoom' : '1.1', 'secs' : '7'}">
                    <img data-ng-src="{{data.guidelines_head3_image.url}}" />
                    <div class="skycom-container">
                        <h2>
                            Sky marks
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="sky-marks-our" class="clearfix gap bottom">
            <div class="skycom-container">
                <h2 class="section-title">
                    Our Glass Mark
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head3_section1_copy | toTrusted">
                </div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img class="no-gap" data-ng-src="{{data.guidelines_head3_section1_image_left.url}}"/>
                </div>
                <div class="skycom-6">
                    <img class="no-gap border" data-ng-src="{{data.guidelines_head3_section1_image_right.url}}"/>
                </div>
            </div>
        </section>
        <section id="sky-marks-centre-stage" class="clearfix gap bottom">
            <div class="skycom-container">
                <h2 class="section-title">
                    Centre-Stage
                </h2>
                <div class="gap small bottom" data-ng-bind-html="data.guidelines_head3_section2_copy | toTrusted">
                </div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section2_image_left.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section2_image_left_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section2_image_left_copy | toTrusted"></div>
                </div>
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section2_image_right.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section2_image_right_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section2_image_right_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="sky-marks-centre-how" class="clearfix gap bottom">
            <div class="skycom-container">
                <div class="skycom-6">
                    <img class="no-gap" data-ng-src="{{data.guidelines_head3_section3_image.url}}"/>
                </div>
                <div class="skycom-6 text">
                    <h2 class="section-title smaller">
                        How it's made
                    </h2>
                    <div data-ng-bind-html="data.guidelines_head3_section3_copy | toTrusted"></div>
                    <p>Learn how to work with this asset by downloading our <a href="#" data-ng-href="{{data.guidelines_head3_section3_attachment1}}" target="_blank">rendering tips</a></p>
                    <p>You can download the latest Glass Mark <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head3_section3_asset_ids | joinIds}}">here</a>.</p>
                </div>
            </div>
        </section>
        <section id="sky-marks-centre-spectrum" class="clearfix gradient">
            <div class="skycom-container">
                <div class="skycom-6">
                    <img class="no-gap border" data-ng-src="{{data.guidelines_head3_section4_image.url}}"/>
                </div>
                <div class="skycom-6 text">
                    <h2 class="section-title smaller">
                        Centre-Stage Spectrum Glass Mark 
                    </h2>                    
                    <div data-ng-bind-html="data.guidelines_head3_section4_copy | toTrusted"></div>
                    <p>You can download the latest Spectrum Glass Mark <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head3_section4_asset_ids | joinIds}}">here</a>.</p>
                </div>
            </div>
        </section>
        <section id="sky-marks-signature" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Signature
                </h2>
                <div data-ng-bind-html="data.guidelines_head3_section5_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section5_image_left.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section5_image_left_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section5_image_left_copy | toTrusted"></div>
                </div>
                <div class="skycom-6">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section5_image_right.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section5_image_right_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section5_image_right_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="sky-marks-alternative" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Alternative Marks
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head3_section6_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section6_q1_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section6_q1_title"></h2>
                </div>
                <div class="skycom-6">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section6_q2_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section6_q2_title"></h2>
                </div>
                <div class="skycom-6 alpha  gap top small">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section6_q3_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section6_q3_title"></h2>
                </div>
                <div class="skycom-6  gap top small">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section6_q4_image.url}}"/>
                </div>
            </div>            
            <div class="skycom-container">
                <div data-ng-bind-html="data.guidelines_head4_section1_copy | toTrusted"></div>
                <p class="gap bottom small">
                    You can download the alternative Glass Marks <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head3_section6_asset_ids | joinIds}}">here</a>.
                </p>
            </div>
        </section>
        <section id="sky-marks-sizing" class="clearfix">
            <div class="skycom-container">
                <h2 class="section-title clearfix gap top small">
                    Sizing for the Centre Stage Mark
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head3_section7_copy | toTrusted"></div>
            </div>
            <div class="skycom-container clearfix gap bottom">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section7_q1_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section7_q1_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section7_q1_copy | toTrusted"></div>
                </div>
                <div class="skycom-6 right">
                    <img data-ng-src="{{data.guidelines_head3_section7_q2_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section7_q2_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section7_q2_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="section-13" class="clearfix gradient">
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section7_q3_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section7_q3_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section7_q3_copy | toTrusted"></div>
                </div>
                <div class="skycom-6 right">
                    <img data-ng-src="{{data.guidelines_head3_section7_q4_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section7_q4_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section7_q4_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="sky-marks-end-frames" class="clearfix gradient gap top small">
            <div class="skycom-container gap bottom small">
              <h2 class="section-title">
                  End Frames
              </h2>
              <div data-ng-bind-html="data.guidelines_head3_section8_copy | toTrusted"></div>
            </div>
            <div class="skycom-container clearfix">
                <div class="skycom-6">
                  <div iframe="data.guidelines_head3_section8_video_id_left"></div>
                </div>
                <div class="skycom-6">
                  <div iframe="data.guidelines_head3_section8_video_id_right"></div>
                </div>
            </div>
        </section>
        <section id="sky-marks-our-brand-line" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Our Brand Line
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head3_section9_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head3_section9_image_left.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section9_image_left_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section9_image_left_copy | toTrusted"></div>
                </div>
                <div class="skycom-6">
                    <img class="border" data-ng-src="{{data.guidelines_head3_section9_image_right.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head3_section9_image_right_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head3_section9_image_right_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="sky-marks-glassmark-wtd" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Our Glassmark - what not to do
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head3_section10_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6 gap bottom small" data-ng-class-odd="'alpha'" data-ng-repeat="item in data.guidelines_head3_section10_images_with_titles" data-repeat-completed>
                    <img  class="no-gap" data-ng-src="{{item.data.image.url}}">
                    <p class="gap top small" data-ng-bind="item.data.title"></p>
                </div>
            </div>
        </section>
        <a href="#" id="our-channel-brands" class="nav-anchor"> </a>
        <section id="wrap-our-channel-brands" class="head">
            <img data-ng-src="{{data.guidelines_head4_image.url}}" />
            <div class="skycom-container">
                <h2 class="bottom">
                    Our Channel Brands
                </h2>
            </div>
        </section>
        <section id="section-18" class="clearfix">
            <div class="skycom-container">
                <div data-ng-bind-html="data.guidelines_head4_section1_copy | toTrusted"></div>
                <p class="gap bottom small">
                    Our Channel Brands can be heroed, or work as a sign-off. See our <a href="#" data-ng-href="{{data.guidelines_head4_section1_attachment1}}" target="_blank">Sky channels logo guide</a> for more information. You can download the latest Channel Brand logo suite <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head4_section1_asset_ids | joinIds}}">here</a>.
                </p>
            </div>
            <div class="skycom-container">
                <div class="skycom-3" data-ng-repeat="item in data.guidelines_head4_section1_images" data-ng-class="{'alpha': !($index % 4)}" data-repeat-completed>
                    <img data-ng-src="{{item.url}}" />
                </div>
            </div>
        </section>
        <section id="section-18b" class="clearfix gap bottom small">
            <div class="skycom-container">
                <div class="skycom-6">
                    <h2 class="section-title smaller">
                        Exclusion Zones
                    </h2>
                    <p>
                        TX details and supporting copy sit near our Channel Brand. We keep the exclusion zone free of other graphic elements to help the Channel Brand stand out.
                    </p>
                    <img data-ng-src="{{data.guidelines_head4_section2_image_left.url}}" />
                </div>
                <div class="skycom-6 right">
                  <img data-ng-src="{{data.guidelines_head4_section2_image_right.url}}" />
                </div>
            </div>
        </section>
        <section id="section-19" class="clearfix gap bottom">
            <div class="skycom-container">
                <h2 class="section-title smaller">
                    Some Dos and Don'ts
                </h2>
                <p class="gap bottom small">
                    <strong>Here's how we use our channel logos.</strong>
                </p>
            </div>
            <div class="skycom-container">
                <div class="skycom-6 gap bottom small" data-ng-class-odd="'alpha'" data-ng-repeat="item in data.guidelines_head4_section3_images_with_titles" data-repeat-completed>
                    <img class="no-gap" data-ng-src="{{item.data.image.url}}" />
                    <p data-ng-bind="item.data.title"></p>
                </div>
            </div>
        </section>
        <section id="section-20" class="clearfix gradient">
            <div class="skycom-container">
                <p class="gap top remove">
                    <strong>Here's how NOT to use our channel logos.</strong>
                </p>
            </div>
            <div class="skycom-container gap top small">
                <div class="skycom-4" data-ng-class="{'alpha': !($index % 3)}" data-ng-repeat="item in data.guidelines_head4_section4_images_with_titles" data-repeat-completed>
                    <img class="no-gap" data-ng-class="{'border gap top small': $index > 2}" data-ng-src="{{item.data.image.url}}">
                    <p data-ng-bind="item.data.title"></p>
                </div>
                <div class="skycom-8 gap top small">
                    <img class="no-gap border" data-ng-src="{{data.guidelines_head4_section4_last_image.url}}">
                    <div class="text">
                        <p data-ng-bind="data.guidelines_head4_section4_last_image_title"></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-21" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Corporate Brands
                </h2>
                <div data-ng-bind-html="data.guidelines_head4_section5_copy | toTrusted"></div>
                <p class="gap bottom small">
                    Find out more in our <a href="#" data-ng-href="{{data.guidelines_head4_section5_attachment1}}" target="_blank">B2B Branding Toolkit</a>. You can download the corporate logo suite <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head4_section5_asset_ids | joinIds}}" target="_blank">here</a>.
                </p>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img class="border no-gap" data-ng-src="{{data.guidelines_head4_section5_left_image.url}}" />
                </div>
                <div class="skycom-6">
                    <img class="border no-gap" data-ng-src="{{data.guidelines_head4_section5_right_image.url}}" />
                </div>
            </div>
        </section>
        <a href="#" id="typography" class="nav-anchor"> </a>
        <section id="wrap-typography" class="head">
            <img data-ng-src="{{data.guidelines_head5_image.url}}" />
            <div class="skycom-container">
                <h2>
                    Typography
                </h2>
            </div>
        </section>
        <section id="section-23" class="clearfix">
            <div class="skycom-container">
                <h2 class="section-title">
                    Our Brand Font
                </h2>
                <div data-ng-bind-html="data.guidelines_head5_section1_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6 gap top small">
                    <p>
                        <strong>Sky Text Regular</strong>
                    </p><img  class="no-gap" data-ng-src="{{modelService.cms.config.urls.images + '/filename-201424164245.jpg'}}">
                    <p class="gap top remove" data-ng-bind="data.guidelines_head5_section1_q1_copy"> </p>
                </div>
                <div class="skycom-6 gap top small">
                    <p>
                        <strong>Sky Text Medium</strong>
                    </p><img class="no-gap" data-ng-src="{{modelService.cms.config.urls.images + '/filename201429143755.jpg'}}">
                    <p class="gap top remove" data-ng-bind="data.guidelines_head5_section1_q2_copy"> </p>                
                </div>
                <div class="skycom-6 alpha gap top small">
                    <p>
                        <strong>Sky Text Bold</strong>
                    </p><img  class="no-gap" data-ng-src="{{modelService.cms.config.urls.images + '/filename201429143843.jpg'}}">
                    <p class="gap top remove" data-ng-bind="data.guidelines_head5_section1_q3_copy"> </p>
                </div>
                <div class="skycom-6  gap top small">
                    <p>
                        <strong>Sky Text Italic</strong>
                    </p><img  class="no-gap" data-ng-src="{{modelService.cms.config.urls.images + '/filename201429143934.jpg'}}">
                    <p class="gap top remove" data-ng-bind="data.guidelines_head5_section1_q4_copy"> </p>
                </div>
            </div>
        </section>
        <section id="section-24" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top">
                    Using our Brand Font
                </h2>
            </div>
            <div class="skycom-container clearfix">
                <div class="skycom-6">
                    <img class="no-gap border" data-ng-src="{{data.guidelines_head5_section2_left_image.url}}" />
                </div>
                <div class="skycom-6">
                    <img class="no-gap" data-ng-src="{{data.guidelines_head5_section2_right_image.url}}" />
                </div>
            </div>
            <div class="skycom-container clearfix">
                <div class="skycom-6" data-ng-bind-html="data.guidelines_head5_section2_copy | toTrusted">
                </div>
                <div class="skycom-6" data-ng-bind-html="data.guidelines_head5_section2_left_image_copy | toTrusted">
                </div>
            </div>
            <div class="skycom-container clearfix">
                <p>
                    Find out more in our <a href="#" data-ng-href="{{data.guidelines_head5_section2_attachment1}}" target="_blank">Sky Text</a> and <a href="#" data-ng-href="{{data.guidelines_head5_section2_attachment2}}" target="_blank">Sky Style</a> guides. 
                    You can download the latest Sky Text font set <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head5_section2_asset_ids | joinIds}}">here</a>.
                </p>
            </div>
        </section>
        <section id="section-25" class="clearfix gradient">
            <div class="skycom-container gap bottom small">
                <h2 class="section-title gap top small">
                    Entertainment Fonts
                </h2>
                <div data-ng-bind-html="data.guidelines_head5_section3_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6" data-ng-class-odd="'alpha'" data-ng-repeat="item in data.guidelines_head5_section3_images" data-repeat-completed>
                    <img data-ng-src="{{item.url}}" />
                </div>
            </div>
        </section>
        <section id="section-26" class="clearfix">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Sky News Font
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head5_section4_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head5_section4_left_image.url}}" />
                </div>
                <div class="skycom-6">
                    <div class="gap top remove" data-ng-bind-html="data.guidelines_head5_section4_right_copy | toTrusted"></div>
                    <p>
                        You can download the latest Sky News font set <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head5_section4_asset_ids | joinIds}}">here</a>.
                    </p>
                </div>
                <div class="skycom-6 alpha">
                    <p>
                        <strong>Sky News Regular</strong>
                    </p><img data-ng-src="{{modelService.cms.config.urls.images + '/filename201429144823.jpg'}}">
                </div>
                <div class="skycom-6">
                    <p>
                        <strong>Sky News Bold</strong>
                    </p><img data-ng-src="{{modelService.cms.config.urls.images + '/filename201429144850.jpg'}}">
                </div>
            </div>
        </section>
        <section id="section-27" class="clearfix gradient">
            <div class="skycom-container" data-ng-bind-html="data.guidelines_head5_section5_copy | toTrusted"></div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head5_section5_q1_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head5_section5_q1_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head5_section5_q1_copy | toTrusted"></div>
                </div>
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head5_section5_q2_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head5_section5_q2_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head5_section5_q2_copy | toTrusted"></div>
                </div>
                <div class="skycom-6 alpha gap top small">
                    <img data-ng-src="{{data.guidelines_head5_section5_q3_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head5_section5_q3_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head5_section5_q3_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <a href="#" id="colour-palette" class="nav-anchor"> </a>
        <section id="wrap-colour-palette" class="head">
            <img data-ng-src="{{data.guidelines_head6_image.url}}" />
            <div class="skycom-container">
                <h2 class="bottom dark">
                    Colour palette
                </h2>
            </div>
        </section>
        <section id="section-29" class="clearfix">
            <div class="skycom-container">
                <h2 class="section-title">
                    Entertainment Colour
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head6_section1_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-4" data-ng-repeat="item in data.guidelines_head6_section1_images" data-repeat-completed>
                    <img  class="no-gap" data-ng-src="{{item.url}}">
                </div>
            </div>
        </section>
        <section id="section-29b" class="clearfix gradient">
            <div class="skycom-container">
                <div class="skycom-6 gap top small">
                    <img  class="no-gap" data-ng-src="{{data.guidelines_head6_section1_last_image.url}}">
                </div>
                <div class="skycom-6  gap top small" data-ng-bind-html="data.guidelines_head6_section1_last_image_copy | toTrusted"></div>
            </div>
        </section>
        <section id="section-30" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Spectrum Colour
                </h2>
                <div>
                  <div data-ng-bind-html="data.guidelines_head6_section2_copy | toTrusted"></div>
                  Or colour your text with our <a href="#" data-ng-href="{{data.guidelines_head6_section2_attachment}}" target="_blank"> Spectrum guide</a>.
                </div>
                <img  class="no-gap" data-ng-src="{{data.guidelines_head6_section2_image.url}}">
            </div>
        </section>
        <a href="#" id="imagery" class="nav-anchor"> </a>
        <section id="wrap-imagery" class="head">
            <img data-ng-src="{{data.guidelines_head7_image.url}}" />
            <div class="skycom-container">
                <h2>
                    Imagery
                </h2>
            </div>
        </section>
        <section id="section-32" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title">
                    Backgrounds
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head7_section1_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head7_section1_left_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head7_section1_left_image_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head7_section1_left_image_copy | toTrusted"></div>
                </div>
                <div class="skycom-6">
                    <img data-ng-src="{{data.guidelines_head7_section1_right_image.url}}"/>
                    <h2 class="section-title smaller" data-ng-bind="data.guidelines_head7_section1_right_image_title"></h2>
                    <div class="text" data-ng-bind-html="data.guidelines_head7_section1_right_image_copy | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="section-33" class="clearfix">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Choosing Imagery
                </h2>                
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head7_section2_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6" data-ng-class-odd="'alpha'" data-ng-class="{'gap top small': $index > 1}" data-ng-repeat="item in data.guidelines_head7_section2_images_with_copy" data-repeat-completed>
                    <img class="no-gap" data-ng-src="{{item.data.image.url}}"/>
                    <div class="text" data-ng-bind-html="item.data.summary_rich | nl2br | toTrusted"></div>
                </div>
            </div>
        </section>
        <section id="section-34" class="clearfix gradient">
            <div class="skycom-container gap top">
                <h2 class="section-title gap bottom remove">
                    Where to find imagery
                </h2>
            </div>
            <div class="skycom-container">
                <div class="skycom-6">
                    <div data-ng-bind-html="data.guidelines_head7_section3_copy_left | nl2br | toTrusted"></div>
                    See our <a href="#" data-ng-href="{{data.guidelines_head7_section3_attachment1}}" target="_blank">Sky Movies Brand Guide</a> for more information.
                </div>

                <div class="skycom-6">
                    <div data-ng-bind-html="data.guidelines_head7_section3_copy_right | nl2br | toTrusted"></div>
                    <p>See our <a href="#" data-ng-href="{{data.guidelines_head7_section3_attachment2}}" target="_blank">Sky Sports Approvals Process</a> guide for more information.
                    </p>
                    <p>The log in is <strong>SkySportsBrand</strong> and the password is <strong>bskyb1</strong>.</p>
                </div>
            </div>
        </section>
        <section id="section-35" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Photography
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head7_section4_copy | toTrusted"></div>
            </div>
            <div class="skycom-container">
                <div class="skycom-6" data-ng-class-odd="'alpha'" data-ng-repeat="item in data.guidelines_head7_section4_images" data-repeat-completed>
                    <img data-ng-class="{'no-gap': $index > 1}" data-ng-src="{{item.url}}" />
                </div>
            </div>
        </section>
        <section id="section-35" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Our Products
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head7_section5_copy | toTrusted"></div>
                <p>
                    You'll find our complete list of available images in our <a href="#" data-ng-href="{{data.guidelines_head7_section5_attachment1}}" target="_blank">Device Asset Guide</a><br>
                    You can download the latest Device assets set <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head7_section5_asset_ids | joinIds}}">here</a>.
                </p>
                <img class="no-gap" data-ng-src="{{data.guidelines_head7_section5_image.url}}" />
            </div>
        </section>
        <section id="section-36" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Our Glass Panels
                </h2>
                
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head7_section6_copy | toTrusted"></div>

                <p class="gap bottom remove">
                    You can download the latest glass panel set <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head7_section6_asset_ids | joinIds}}">here</a>.
                </p>
                <img class="no-gap" data-ng-src="{{data.guidelines_head7_section6_image.url}}" />
            </div>
        </section>
        <a href="#" id="digital" class="nav-anchor"> </a>
        <section id="wrap-digital" class="head">
            <img data-ng-src="{{data.guidelines_head8_image.url}}" />
            <div class="skycom-container">
                <h2>
                    Digital
                </h2>
            </div>
        </section>
        <section id="section-38" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title">
                    Sky.com
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head8_section1_copy | toTrusted"></div>
                <p>Click <a href="//skyglobal.github.io/web-toolkit" target="_blank">here</a> to access the Global styleguide toolkit.</p>
                <img class="no-gap" data-ng-src="{{data.guidelines_head8_section1_image.url}}" />
            </div>
        </section>
        <section id="section-39" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    App Icons
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head8_section2_copy | toTrusted"></div>                
                <p class="gap bottom small">
                    You can find information on App Icons usage in <a href="#" data-ng-href="{{data.guidelines_head8_section3_attachment}}" target="_blank">our guide</a>.
                </p>                
                <p class="gap bottom small">
                    Download <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head8_section2_asset_ids | joinIds}}">App Icons</a> and use with our <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head8_section2_asset_ids_2 | joinIds}}">Generic Device Images</a>
                </p>
                <p>
                <img class="no-gap" data-ng-src="{{data.guidelines_head8_section2_image.url}}" />
                </p>
            </div>
        </section>
        <section id="section-40" class="clearfix gradient">
            <div class="skycom-container">
                <h2 class="section-title gap top small">
                    Icons
                </h2>
                <div class="gap bottom small" data-ng-bind-html="data.guidelines_head8_section3_copy | toTrusted"></div>                    
                <p class="gap bottom small">
                    Download the Icon set <a href="#" data-ng-href="/assets/all?id={{data.guidelines_head8_section3_asset_ids | joinIds}}">here</a>.
                </p>
                <img class="no-gap" data-ng-src="{{data.guidelines_head8_section3_image.url}}" />
            </div>
        </section>
        
        <div id="sidenav" class="gpu">
          <ul>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#the-way-we-talk"> The way we talk </a>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#the-way-we-look"> The way we look </a> </li>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#sky-marks"> Sky marks </a> </li>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#our-channel-brands"> Our Channel Brands </a> </li>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#typography"> Typography </a> </li>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#colour-palette"> Colour palette </a> </li>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#imagery"> Imagery </a>
            <li> <span class="sidenav-highlight"><div class="bg-color"></div><span class="icon"></span></span> <a href="#digital"> Digital </a>
          </ul>
        </div> 

    </div>
</div>
